@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Amatic+SC:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Major+Mono+Display&family=Readex+Pro:wght@160..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Major+Mono+Display&family=Readex+Pro:wght@160..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
    font-family: "Afacad", sans-serif;
    font-family: "Roboto Mono", monospace;
    font-family: "Major Mono Display", monospace;
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Afacad", sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    background-color: #F3F5F7;

}

header {
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    background-color: #F3F5F7;
    border: 1px solid transparent;
    border-bottom-color: #BBBBBB;
    height: 81px;
    align-items: center;
    width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 999;
}

header .image_logo {
    display: flex;
    align-items: center;
}



#logo {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;

}

nav ul {
    display: flex;
    justify-content: end;
    list-style: none;

}

nav ul li {
    padding-inline: 20px;
    padding-block: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a:focus {
    text-decoration: underline;
}

nav ul li a:active {
    text-decoration: underline;
}

.label_arrangement {
    line-height: 0.8;

}

.label_arrangement b {
    font-size: 16px;
    font-weight: 600;
}

#W_R {
    font-size: 12px;
}

#Change_Label {
    padding-right: 5px;
}

#Name-mb1 {
    display: none;
}

.column-space {
    height: 81px;
}


/*Section One*/

.S_One {
    height: 38.5em;
    padding-left: 80px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    width: 100%;

}

.S_One #Paragraph_Arrangement {
    width: 700px;
    text-align: justify;
    text-transform: uppercase;
}

#Paragraph_Arrangement span {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;

    cursor: pointer;
}

.Position_Bottom_Fixed {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    z-index: 99;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-inline: 10px;
    padding-block: 4px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.Position_Bottom_Fixed>div {
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
}

.left_side {
    width: 100%;
    padding-bottom: 20px;
}

.right_side {
    width: 60%;
    display: flex;
    justify-content: center;
}

.left_side img {
    margin-left: -10px;
    height: 56px;
    width: 250px;
    margin-bottom: 20px;
}

.left_side b {
    font-family: "Major Mono Display", monospace;
    font-size: 20px;
    font-weight: 400;
    -webkit-animation: text-pop-up-top 1500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 1500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

.image_setup img {
    height: 330px;
    width: 326px;
}

.continue-application {
    font-family: "Roboto Mono", monospace;
    --color: #fff;
    --background: #404660;
    --background-hover: #3A4059;
    --background-left: #2B3044;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 200;
    line-height: 19px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 17px 69px;
    transition: background 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
}

.continue-application>div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
}

.continue-application>div .folder {
    width: 23px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 13px;
}

.continue-application>div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application>div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    transform-origin: 0 50%;
    transition: transform 0.3s ease var(--fds, 0.45s);
    transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.continue-application>div .folder:before,
.continue-application>div .folder:after,
.continue-application>div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
}

.continue-application>div .folder:before {
    box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application>div .folder:after,
.continue-application>div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
}

.continue-application>div .folder:after {
    transform: translate(var(--pbx, 0), var(--pby, 0));
    transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application>div .folder .paper {
    z-index: 1;
    --b: var(--paper);
}

.continue-application>div .folder .paper:before,
.continue-application>div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.continue-application>div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
}

.continue-application>div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 19px;
    background: var(--pencil-cap);
    transform: translateX(var(--pex, 0)) rotate(35deg);
    transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application>div .pencil:before,
.continue-application>div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
}

.continue-application>div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.continue-application>div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
}

.continue-application:before,
.continue-application:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
}

.continue-application:after {
    --r: 45deg;
}

.continue-application:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
}

#Counting,
#Change_Label {
    display: none;
}

#Up {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#Change_Label {
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 8px;
    transition: 0.3s;
}

.nav-link.active {
    text-decoration: underline;
}


/*Section Two*/

.S_Two {
    padding-left: 80px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    height: 38.5em;
}


.S_Two img {
    height: 50px;
    width: 250px;
}

.Name-3 {
    height: 50px;
    width: 250px;
    margin-bottom: 60px;
    margin-left: -4px;
}


.Title-and-Skill p,
.skill-sets p {
    font-size: 18px;
    padding-bottom: 20px;

}

.sentence-for-dekstop {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
}


.setence-for-mobile {
    display: none;
}


.icons-img ol {
    display: flex;
    padding-bottom: 20px;
    font-size: 18px;
}

.icons-img ol li {
    margin-left: 40px;
}


.icons-img ol li:hover {
    cursor: pointer;
    color: rgb(255, 99, 132);
}

.graph-for-skills {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 60px;
    width: 40%;
}


#radarChart {

    width: 390px;
    height: 390px;
    font-family: "Afacad", sans-serif;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.2));

}

.skill-sets p {
    font-size: 20px;
}

/* Section Three */

.S_Three {
    padding-left: 80px;
    padding-right: 40px;
    width: 100%;
    padding-top: 20px;
    height: 38.5em;
}

.Name-2 {
    height: 70px;
    width: 280px;
    margin-bottom: 40px;
    margin-left: -4px;
}

.projects-collection {

    width: 100%;
}

.Unnat-Bharat-Abhiyan,
.Agri-Survillence-System {
    height: 212px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#sr-label {
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 32px;
    width: 32px;
    position: absolute;
    z-index: 3;
    margin-left: -10px;
    margin-top: -10px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.project-image {
    height: 210px;
    width: 380px;
    z-index: 1;
}

.project-image img {
    height: 168px;
    width: 340px;
    background-color: black;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));

}

.project-description {
    padding-block: 26px;
    padding-inline: 50px;
    width: 100%;
    height: 190px;
    margin-left: -28px;
    background-color: white;
    text-align: justify;
    align-self: flex-end;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    overflow-y: auto;
}

.project-description p {
    font-size: 18px;
    padding-bottom: 5px;
}

/* Section Four */
.S_Four {
    padding-left: 80px;
    padding-right: 40px;
    width: 100%;
    padding-top: 20px;
}

.About-Us p {
    text-align: justify;
    font-size: 18px;
}

.About-Us .Web-Developer-Name {
    font-size: 24px;
    text-transform: uppercase;
}

.About-Us .Current-Pursuing {
    font-size: 20px;
    color: #5A5A72;
    font-weight: 400;
}

.table {
    display: flex;
    flex-wrap: wrap;

}

.table div {
    margin-right: 20px;
    margin-bottom: 10px;
    width: 200px;
    font-size: 16px;
}

.Internship-component {
    display: flex;
    position: relative;
    margin-bottom: 10px;
}

.Internship-Images {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Intership-line::before {
    content: "";
    border: 1px solid #B9B9C6;
    position: absolute;
    margin-top: 70px;
    margin-left: 30px;
    height: 40%;
}

.Internship-component-two {
    margin-top: 30px;
    display: flex;
}

.Internship-Individual {
    display: flex;
    flex-wrap: wrap;
}

.Internship-Description .internship-name {
    color: #25252D;
    padding-left: 10px;
    font-weight: 500;
    text-align: left;
}

.Internship-Description .internship-Designation {
    color: #25252D;
    padding-left: 10px;
    font-weight: 600;
    text-align: left;
}

.Internship-Description .Internship-Duration {
    color: #5a5a72;
    padding-left: 10px;
    text-align: left;
}

.Internship-Languages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    text-align: center;
}

.Internship-Languages div {
    cursor: pointer;
    font-weight: 500;
    margin-top: 4px;
    margin-left: 10px;
    padding-inline: 14px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #B9B9C6;
}

.Internship-Work {
    color: #25252D;
    padding-left: 10px;
    margin-top: 2px;
}

.Internship-Images img {
    height: 80%;
    width: 80%;
    border-radius: 6px;
}

#scoll-end {
    text-align: center;
}

#scoll-end {
    height: 100%;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.icons-img ol li {
    margin-left: 40px;
}


.icons-img ol {
    list-style: none;
    padding-left: 0;
}

.icons-img li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 40px;
}

.icons-img li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 24px;
    height: 24px;
    background-size: cover;
}

/* Add individual icons */
#Html::before {
    background-image: url('https://cdn.jsdelivr.net/gh/Rohan1023L/Rohan-Js-Css-Files@main/assets/icons/html.png');
}

#Css::before {
    background-image: url('https://cdn.jsdelivr.net/gh/Rohan1023L/Rohan-Js-Css-Files@main/assets/icons/css.png');
}

#JavaScript::before {
    background-image: url('https://cdn.jsdelivr.net/gh/Rohan1023L/Rohan-Js-Css-Files@main/assets/icons/java-script.png');
}

#React::before {
    background-image: url('https://cdn.jsdelivr.net/gh/Rohan1023L/Rohan-Js-Css-Files@main/assets/icons/React.png');
}

#Node::before {
    background-image: url('https://cdn.jsdelivr.net/gh/Rohan1023L/Rohan-Js-Css-Files@main/assets/icons/node-js.png');
}

#Express::before {
    background-image: url('https://cdn.jsdelivr.net/gh/Rohan1023L/Rohan-Js-Css-Files@main/assets/icons/Express.png');
}

#MongoDB::before {
    background-image: url('https://cdn.jsdelivr.net/gh/Rohan1023L/Rohan-Js-Css-Files@main/assets/icons/MongoDB.png');
}

#Figma::before {
    background-image: url('https://cdn.jsdelivr.net/gh/Rohan1023L/Rohan-Js-Css-Files@main/assets/icons/figma.png');
}

#Canva::before {
    background-image: url('https://cdn.jsdelivr.net/gh/Rohan1023L/Rohan-Js-Css-Files@main/assets/icons/Canva.png');
}



/*Desktop for section_one */

@media (min-width: 868px) and (max-width: 1175px) {


    .S_One #Paragraph_Arrangement {
        width: 90%;
    }

    .sentence-for-dekstop {
        display: none;
    }

    .setence-for-mobile {
        display: block;
    }

    .icons-img ol li {
        margin-left: 20px;
    }


}

@media (min-width: 668px) and (max-width: 868px) {

    .S_One {
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
        display: flex;
    }

    .S_One #Paragraph_Arrangement {
        width: 90%;
    }

    .sentence-for-dekstop {
        display: none;
    }

    .setence-for-mobile {
        display: block;
    }

    .S_Two,
    .S_Three {
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
        justify-content: start;
        align-items: start;
        padding-right: 20px;

        padding-top: 30px;
    }

    .S_Two {
        height: 46em;
    }

    .S_Three {
        height: 40em;
    }

    .S_Four {
        padding-right: 10px;
        padding-left: 10px;
        padding-right: 20px;
        padding-top: 30px;
    }

    #radarChart {
        width: 100%;
        height: 100%;
        font-family: "Afacad", sans-serif;
    }

    .skill-sets p {
        font-size: 18px;
    }

    .icons-img ol {
        padding-bottom: 0px;
    }



}

@media (min-width: 480px) and (max-width: 680px) {

    .S_One,
    .S_Two {
        height: 46.5em;
        justify-content: start;
        padding-top: 20px;
    }

    .S_Three {
        height: 53em;
        justify-content: start;
        padding-top: 20px;
    }

    .sentence-for-dekstop {
        display: none;
    }

    .setence-for-mobile {
        display: block;
    }

    #logo {
        height: 40px;
        width: 40px;
    }

    header {
        height: 71px;
    }

    .label_arrangement b {
        font-size: 14px;
        font-weight: 600;
    }

    header .image_logo {
        padding-left: 20px;
    }


    header {
        padding-inline: 0px;
    }

    .column-space {
        height: 71px;
    }

    nav {
        display: none;

    }

    .image_setup img {
        height: 270px;
        width: 100%;
        padding-bottom: 20px;
    }

    .S_One #Paragraph_Arrangement {
        width: 100%;
    }

    #Paragraph_Arrangement span {
        font-family: "Roboto Mono", monospace;
        font-size: 12px;
        cursor: pointer;
    }

    .S_One {
        flex-direction: column-reverse;
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        height: 40em;
    }

    .S_Two {
        flex-direction: column;
        padding-left: 20px;
        align-items: start;
        padding-right: 20px;
        height: 100%;
        height: 42em;
    }

    .S_Three {
        padding-left: 20px;
        align-items: start;
        padding-right: 20px;
        height: 100%;
        height: 64em;
        padding-top: 30px;
    }

    .S_Four {
        padding-left: 20px;
        align-items: start;
        padding-right: 20px;
        height: 100%;
        padding-top: 30px;
    }


    .right_side {
        width: 100%;
        justify-content: start;
    }

    #Name-1 {
        display: none;
        margin-bottom: 0px;
    }

    #Name-mb1 {
        margin-bottom: 0px;

        display: block;
        margin-left: -4px;
    }



    .left_side b {
        font-size: 20px;
        font-weight: 400;
    }

    #W_R {
        font-size: 10px;
    }

    nav {
        margin-top: 210px;
        width: 50%;
        height: 240px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        font-size: 16px;
        position: relative;
    }

    nav ul {
        margin-top: 55px;
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding-block: 10px;
        display: none;
        -webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    nav ul li {
        -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

    }


    @-webkit-keyframes tracking-in-contract {
        0% {
            letter-spacing: 1em;
            opacity: 0;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            letter-spacing: normal;
            opacity: 1;
        }
    }

    @keyframes tracking-in-contract {
        0% {
            letter-spacing: 1em;
            opacity: 0;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            letter-spacing: normal;
            opacity: 1;
        }
    }


    @-webkit-keyframes scale-up-hor-right {
        0% {
            -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }

    @keyframes scale-up-hor-right {
        0% {
            -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }

    .container_setup {
        width: 100%;
        display: flex;
        justify-content: end;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 20px;

    }

    .container {
        display: inline-block;
        cursor: pointer;

    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 2px;
        border-radius: 5px;
        background-color: black;
        margin: 6px 0;
        transition: 0.4s;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
        -webkit-transform: translate(0, 11px) rotate(-45deg);
        -moz-transform: translate(0, 11px) rotate(-45deg);
        -ms-transform: translate(0, 11px) rotate(-45deg);
        -o-transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    .icons-img ol {

        display: flex;
        padding-bottom: 20px;
        font-size: 18px;
    }

    #radarChart {
        height: 100%;
        width: 100%;
    }

    .graph-for-skills {
        margin-top: 0;
    }

    .projects-collection {
        width: 100%;
    }


    .Unnat-Bharat-Abhiyan,
    .Agri-Survillence-System {
        height: 425px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }


    .project-image {
        height: 220px;
        width: 100%;
    }

    .project-image img {
        height: 100%;
        width: 100%;
        background-color: black;
    }

    .project-description {
        padding-block: 10px;
        padding-inline: 20px;
        width: 100%;
        margin-left: 0px;
        background-color: white;
        text-align: justify;

        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
        -webkit-filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));

    }

    .Internship-component-two,
    .Internship-component {
        flex-direction: column;
    }

    .Intership-line {
        display: none;
    }

    .Internship-Images {
        margin-left: 10px;
        height: 70px;
        width: 80px;
    }

    .icons-img ol li {
        margin-left: 20px;
    }

}

@media (min-width: 320px) and (max-width: 480px) {

    .column-space {
        height: 71px;
    }

    .sentence-for-dekstop {
        display: none;
    }

    .setence-for-mobile {
        display: block;
    }

    #logo {
        height: 40px;
        width: 40px;
    }

    header {
        height: 71px;
    }

    .label_arrangement b {
        font-size: 14px;
        font-weight: 600;
    }

    header .image_logo {
        padding-left: 20px;

    }

    .S_One {
        flex-direction: column-reverse;
        padding-left: 20px;
        justify-content: start;
        padding-right: 20px;
        height: 100%;
        height: 46em;
        padding-top: 30px;
    }

    .S_Two {
        flex-direction: column;
        padding-left: 0px;
        justify-content: start;
        padding-right: 20px;
        height: 100%;
        height: 46em;
        padding-top: 30px;
    }

    .S_Three {
        flex-direction: column;
        padding-left: 0px;
        justify-content: start;
        padding-right: 20px;
        height: 100%;
        height: 67em;
        padding-top: 30px;
    }

    .S_Four {
        flex-direction: column;
        padding-left: 0px;
        justify-content: start;
        padding-right: 20px;
    }

    .S_Three,
    .S_Four {
        padding-left: 20px;

    }

    header {
        padding-inline: 0px;
    }

    .image_setup img {
        height: 270px;
        width: 100%;
        padding-bottom: 20px;
    }

    .S_One #Paragraph_Arrangement {
        width: 100%;
    }


    #Paragraph_Arrangement span {
        font-family: "Roboto Mono", monospace;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
    }

    .icons-img ol li {
        font-size: 16px;
    }


    .right_side {
        width: 100%;
        justify-content: start;
    }

    #Name-1 {
        display: none;
        margin-bottom: 0px;
    }

    #Name-mb1 {
        margin-bottom: 0px;
        display: block;
        margin-left: -4px;
    }

    .left_side b,
    .Title-and-Skill p {
        font-size: 18px;
        font-weight: 400;
    }

    #W_R {
        font-size: 10px;
    }


    nav {
        margin-top: 210px;
        width: 50%;
        height: 240px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        font-size: 16px;
        position: relative;
    }

    nav ul {
        margin-top: 55px;
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding-block: 10px;
        display: none;
        -webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    @-webkit-keyframes tracking-in-contract {
        0% {
            letter-spacing: 1em;
            opacity: 0;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            letter-spacing: normal;
            opacity: 1;
        }
    }

    @keyframes tracking-in-contract {
        0% {
            letter-spacing: 1em;
            opacity: 0;
        }

        40% {
            opacity: 0.6;
        }

        100% {
            letter-spacing: normal;
            opacity: 1;
        }
    }

    nav ul li {
        -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

    }

    @-webkit-keyframes scale-up-hor-right {
        0% {
            -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }

    @keyframes scale-up-hor-right {
        0% {
            -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }


    .container_setup {
        width: 100%;
        display: flex;
        justify-content: end;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 20px;

    }

    .container {
        display: inline-block;
        cursor: pointer;

    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 2px;
        border-radius: 5px;
        background-color: black;
        margin: 6px 0;
        transition: 0.4s;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }


    .skill-sets {
        width: 86%;
    }

    .graph-for-skills {
        margin-top: 0px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #radarChart {
        width: 100%;
        height: 100%;
    }

    .icons-img ol {
        padding-bottom: 10px;
    }

    .skill-sets p {
        font-size: 18px;
    }

    .Title-and-Skill p {
        padding-bottom: 6px;
    }

    .Name-3 {
        margin-bottom: 40px;
    }


    .Name-2 {
        margin-bottom: 40px;
    }

    .projects-collection {
        width: 100%;
    }


    .Unnat-Bharat-Abhiyan,
    .Agri-Survillence-System {
        height: 440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }


    .project-image {
        height: 200px;
        width: 100%;
    }

    .project-image img {
        height: 100%;
        width: 100%;

        background-color: black;
    }

    .project-description {
        padding-block: 10px;
        padding-inline: 20px;
        width: 100%;
        height: 400px;
        margin-left: 0px;
        background-color: white;
        text-align: justify;
        z-index: 1;
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
        -webkit-filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));

    }

    .Internship-component-two,
    .Internship-component {
        flex-direction: column;
    }

    .Intership-line {
        display: none;
    }

    .Internship-Images {

        height: 70px;
        width: 80px;
    }

    #scoll-end {
        font-size: 14px;
    }

    .About-Us p {
        font-size: 16px;
    }

    .table div {
        margin-left: 10px;
    }

    .icons-img ol li {
        margin-left: 0px;
    }

    .icons-img li::before {
        height: 16px;
        width: 16px;
        margin-bottom: 0px;
    }

    .icons-img li {
        margin-right: 16px;
        padding-left: 22px;
    }
}